/** postcss-bem-linter: define es6-player; weak */
.es6-player {
  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    color: #fff;
    background: #000;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: #777;
    opacity: 0.9;
    width: 100%;
    height: 15vh;
    max-height: 55px;
    display: flex;
  }

  &__play {
    width: 65px;
    background: #777;
    border: 0;
  }

  &__time {
    padding: 5px;
    align-self: center;
  }

  &__seekbar {
    flex-grow: 6;
  }

  &__duration {
    padding: 10px;
    align-self: center;
  }
}
